In [1]:
avengers = ('captain', 'spiderman', 'ironman', 'black widow', 'wanda', 'thor')

lista = (4, 8, 12, 77, 23, 16, 10)

listb = (55.7, 88.9, 23.4, 10.9, 24.6)

In [2]:
print(type(avengers))

<class 'tuple'>

In [3]:
avengers[3]

'black widow'

In [4]:
avengers.index('wanda')

4

In [5]:
print(type(lista))

<class 'tuple'>

In [6]:
avengers[3] = 'loki'

TypeError: 'tuple' object does not support item assignment

In [7]:
avengers.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [8]:
dc = ['batman', 'wonder woman', 'flash']

In [9]:
superheroes = (avengers, dc)

In [10]:
superheroes

(('captain', 'spiderman', 'ironman', 'black widow', 'wanda', 'thor'),
 ['batman', 'wonder woman', 'flash'])

In [11]:
superheroes[0].append("sfdf")

AttributeError: 'tuple' object has no attribute 'append'

In [12]:
superheroes[1].append("aquaman")

In [13]:
superheroes[1].append("flash")

In [14]:
superheroes

(('captain', 'spiderman', 'ironman', 'black widow', 'wanda', 'thor'),
 ['batman', 'wonder woman', 'flash', 'aquaman', 'flash'])

In [15]:
dc

['batman', 'wonder woman', 'flash', 'aquaman', 'flash']

In [16]:
dc = ['batman', 'wonder woman', 'flash', 'aquaman', 'flash']

In [17]:
dc = {'batman', 'wonder woman', 'flash', 'aquaman', 'flash'}

In [18]:
print(type(dc))

<class 'set'>

In [19]:
dc

{'aquaman', 'batman', 'flash', 'wonder woman'}

In [20]:
dc[2]

TypeError: 'set' object is not subscriptable

In [21]:
fruits = {'apples', 'oranges', 'plums', 'apples', 'grapes', 'oranges'}

basket = {'bananas', 'apples', 'grapes', 'melons'}

In [22]:
print(fruits)

{'apples', 'grapes', 'oranges', 'plums'}

In [24]:
print(basket)

{'apples', 'grapes', 'bananas', 'melons'}

In [26]:
fruits | basket
# union

{'apples', 'bananas', 'grapes', 'melons', 'oranges', 'plums'}

In [27]:
fruits & basket
# intersection

{'apples', 'grapes'}

In [28]:
fruits - basket

{'oranges', 'plums'}

In [29]:
fruits ^ basket
# uncommon, symmetric difference

{'bananas', 'melons', 'oranges', 'plums'}

In [30]:
dc = ['batman', 'wonder woman', 'flash', 'aquaman', 'flash']
print(dc)

['batman', 'wonder woman', 'flash', 'aquaman', 'flash']

In [31]:
dc = ['batman', 'wonder woman', 'flash', 'aquaman', 'flash']
print(set(dc))

{'batman', 'wonder woman', 'flash', 'aquaman'}