In [ ]:
if <condition> :
    eskfd
    sfcdf
    sdfcd
    sdffs

In [1]:
varx = 30
vary = 40
varz = 0

In [3]:
if varx > vary:
    print("good morning")
elif vary < varz:
    print("namaste")
elif varz > varx:
    print("jai ninendra")
elif varx == 30:
    print("sat sri akaal")
else:
    print("salaam")
    print("and good day")

sat sri akaal

In [4]:
if varx > vary:
    print("good morning")
elif vary < varz:
    print("namaste")
elif varz > varx:
    print("jai ninendra")
elif varx == 30:
    print("sat sri akaal")
else:
    print("salaam")
print("and good day")

sat sri akaal
and good day

In [5]:
if varx > vary:
    print("good morning")
elif vary < varz:
    print("namaste")
elif varz > varx:
    print("jai ninendra")
elif varx == 30:
    print("sat sri akaal")
else:
    print("salaam")
print("and good day")

IndentationError: expected an indented block (<ipython-input-5-dbfd6698083b>, line 6)

In [6]:
if (varx > vary) and (varx > varz):
    print("good morning")
elif vary < varz:
    print("namaste")
elif varz > varx:
    print("jai ninendra")
elif varx == 30:
    print("sat sri akaal")
else:
    print("salaam")
print("and good day")

sat sri akaal
and good day

In [7]:
if varx > vary > varz:
    print("good morning")
elif vary < varz:
    print("namaste")
elif varz > varx:
    print("jai ninendra")
elif varx == 30:
    print("sat sri akaal")
else:
    print("salaam")
print("and good day")

sat sri akaal
and good day

In [8]:
if varx > varz:
    print("good morning")
    print("sdgfgdj")
    if varx > vary:
        print()
    else:
        print()
elif vary < varz:
    print("namaste")
elif varz > varx:
    print("jai ninendra")
elif varx == 30:
    print("sat sri akaal")
else:
    print("salaam")
print("and good day")

good morning
sdgfgdj

and good day

In [11]:
if varx > varz:
    pass
else:
    pass

In [12]:
None 
# not same as NULL
# not same as void
# not same as blank (NaN)

In [13]:
print(type(None))

<class 'NoneType'>

In [14]:
x = None
y = None

In [15]:
x == y

True

In [16]:
if None :
    print("hey")

In [17]:
if not None :
    print("hey")

hey

In [19]:
# ''   []   {}

In [20]:
while(varx < vary):
    print("varx =", varx)
    varx = varx+2

varx = 30
varx = 32
varx = 34
varx = 36
varx = 38

In [21]:
# while(True):
#    print("varx =", varx)
#    varx = varx+2

In [22]:
while(varx < vary):
    print("varx =", varx)
    varx = varx+2

In [23]:
for i in range(5):
    print("i =", i)

i = 0
i = 1
i = 2
i = 3
i = 4

In [24]:
for i in range(3, 8):
    print("i =", i)

i = 3
i = 4
i = 5
i = 6
i = 7

In [25]:
for i in range(3, 18, 3):
    print("i =", i)

i = 3
i = 6
i = 9
i = 12
i = 15

In [26]:
for thu in range(3, 18, 3):
    print("thu =", thu)

thu = 3
thu = 6
thu = 9
thu = 12
thu = 15

In [27]:
avengers = ['captain', 'spiderman', 'ironman', 'black widow', 'wanda', 'thor']

In [28]:
for i in range(6):
    print("i = ", i)
    print("val =", avengers[i], "\n")

i =  0
val = captain

i =  1
val = spiderman

i =  2
val = ironman

i =  3
val = black widow

i =  4
val = wanda

i =  5
val = thor

In [29]:
for val in avengers:
    print("val =", val)

val = captain
val = spiderman
val = ironman
val = black widow
val = wanda
val = thor

In [30]:
avengers[2:]

['ironman', 'black widow', 'wanda', 'thor']

In [31]:
avengers[1:4]

['spiderman', 'ironman', 'black widow']

In [32]:
for val in avengers[1:4]:
    print("val =", val)

val = spiderman
val = ironman
val = black widow

In [33]:
fruits = {'apples', 'oranges', 'plums', 'grapes', 'mango', 'tomatoes'}

basket = {'bananas', 'apples', 'grapes', 'melons'}

In [34]:
for f in fruits:
    print(f)

grapes
tomatoes
oranges
plums
apples
mango

In [35]:
avengers = {'captain': ['shield', 'hammer'],
 'ironman': 'suit',
 'thor': 'hammer',
 'hulk': 'smash'}

In [36]:
for k in avengers:
    print("k =", k)

k = captain
k = ironman
k = thor
k = hulk

In [37]:
for k in avengers.values():
    print("k =", k)

k = ['shield', 'hammer']
k = suit
k = hammer
k = smash

In [39]:
for k in avengers:
    print("k =", k, "\tval =", avengers[k])

k = captain 	val = ['shield', 'hammer']
k = ironman 	val = suit
k = thor 	val = hammer
k = hulk 	val = smash

In [41]:
for k, v in avengers.items():
    print("k =", k, "\tv =", v)

k = captain 	v = ['shield', 'hammer']
k = ironman 	v = suit
k = thor 	v = hammer
k = hulk 	v = smash

In [42]:
fruits = ['apples', 'oranges', 'plums', 'grapes', 'mango', 'tomatoes']

basket = ['bananas', 'apples', 'grapes', 'melons']

In [43]:
for x in fruits:
    if(x in basket):
        print(x)

apples
grapes

In [44]:
common = []

for x in fruits:
    if x in basket:
        common.append(x)

In [45]:
print(common)

['apples', 'grapes']

In [46]:
for x in fruits:
    if(x in basket):
        print(x)
        break

apples

In [50]:
for i in range(len(fruits)):
    if "grapes" in fruits:
        print("found at ", i)
        break

found at  0

In [52]:
for i in range(len(fruits)):
    if "grapes" == fruits[i]:
        print("found at ", i)
        break

found at  3

In [53]:
for i in range(len(fruits)):
    if "melons" == fruits[i]:
        print("found at ", i)
        break

In [54]:
for i in range(len(fruits)):
    if "melons" == fruits[i]:
        print("found at ", i)
        break
    else:
        print("did not find")

did not find
did not find
did not find
did not find
did not find
did not find

In [55]:
for i in range(len(fruits)):
    if "melons" == fruits[i]:
        print("found at ", i)
        break
else:
    print("did not find")

did not find

In [56]:
for i in range(len(fruits)):
    if "grapes" == fruits[i]:
        print("found at ", i)
        break
else:
    print("did not find")

found at  3